@inject IStateService StateService
@implements IDisposable

<div class="top-menu">
    <img class="topImg" src="img/coin.png" /> <span>@StateService.TotalCoin</span>
</div>

@code {
    protected override void OnInitialized()
    {
        StateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {

        StateService.OnChange -= StateHasChanged;

    }
}
