.topImg {
    width: 60px;
    height: 50px;
}

.top-menu {

display : flex;
justify-content :center;
align-content :baseline;
width: 100%
}

.sufficient {
font:bold;
color : black;
}

.insufficient {
    font: bold;
    color: red;
}