@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Blazor!</h1>

<p>I remembered that I was addicted to kind of MUD games a lo..ng time ago, so I am going to find something to do for fun in my spare time.

I will integrate my knowledge of Blazor and make myself a Blazor Fight GAME!!!!

How ambitious that sounds, yeah, yeah, yeah, mon coeur est vast...</p>

<p>I would use Blazor WASM, Asp.net core hosted,add as much knowledge as I can think of....</p>

<p>

:) Just for fun, and I don't know how far I can go for this project, haha, summer is outside, and I want to go on vacation too!
</p>

UI Component :  <a target="_blank" class="font-weight-bold link-dark" href="https://blazor.radzen.com/">Radzen UI </a>

Some ideas came from  <a target="_blank" class="font-weight-bold link-dark" href=" https://www.youtube.com/watch?v=In7YSYisMh4&ab_channel=PatrickGod">Make a Browser Game with Blazor WebAssembly</a>

<h1>Happy every day!</h1>


<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>11,July,2022</strong>

    <span class="text-nowrap">
    The function of addong and deleting units has been basically compeleted.

    </span>

</div>

  <p> 1. You can choose the hero you want to hire from the drop down list. The cost of each hero is different.
</p> 
    <img src="img/dropdownlist.jpg" />
    <p>2.When you decide to hire a hero,the corresponding cost will will deducted from your bank on the top menu. And a hero will appears
        in your inventory.(<span style="font: bold">The attributes of heros are random within a certain range. </span>)
    </p>
    <img src = "img/hirehero.jpg" />
   
    <p>
        3. A toast pops up when you don't have enough lucky coin, and you will no longer be able to click the "Hire" button when the lucky coin is below 100.
    </p>
    <img src = "img/noenoughcoin.jpg" />

     <p>
        4. You can choose to let the hero go, but you will only get half of your lucky coin back......
    </p>
    <img src = "img/deleteunit.jpg" />


<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>XXX,July,2022</strong>

    <span class="text-nowrap">
  To Be Continued!

    </span>

</div>
<SurveyPrompt Title="How is Blazor working for you?" />
